body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Roboto', sans-serif;;
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 800;
}
